version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      gha-dependencies:
        applies-to: "version-updates"
        patterns:
          - "*"
    labels:
      - automerge
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - automerge
  # - package-ecosystem: "julia" # See documentation for possible values
  #   directory: "/" # Location of package manifests
  #   schedule:
  #     interval: "weekly"
