name: CI with dynamic parallel matrix

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BASE_URL: /${{ github.event.repository.name }}
  JULIA_CI: 'true'
  JULIA_CONDAPKG_BACKEND: 'Null'
  JULIA_CONDAPKG_OFFLINE: 'true'
  JULIA_NUM_THREADS: 'auto'
  NBCACHE: '.cache'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      hash: ${{ steps.hash.outputs.value }}
      ver: ${{ steps.julia-version.outputs.resolved }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Setup Python
      uses: actions/setup-python@v6
      id: setup-python
      with:
        python-version: '3.13'
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7
    - name: Install Python dependencies
      run: uv pip install --system -r requirements.txt
    - name: Read Julia version
      id: julia-version
      run: python -c 'import tomllib; from pathlib import Path; print("resolved=", tomllib.loads(Path("Manifest.toml").read_text())["julia_version"], sep="")' >> "$GITHUB_OUTPUT"
    - name: Get environment hash
      id: hash
      run: |
        echo "value=${{ hashFiles('Project.toml', 'Manifest.toml', 'src/**') }}" >> "$GITHUB_OUTPUT"
        echo "ver=${{ runner.os }}-julia-${{ steps.julia-version.outputs.resolved }}" >> "$GITHUB_OUTPUT"
    - name: Setup Julia
      uses: julia-actions/setup-julia@v2
      with:
        version: ${{ steps.julia-version.outputs.resolved }}
        arch: ${{ runner.arch }}
        show-versioninfo: 'true'
    - name: Cache Julia packages
      uses: actions/cache@v4
      id: cache-julia
      with:
        path: ~/.julia
        key: ${{ runner.os }}-julia-${{ steps.julia-version.outputs.resolved }}-${{ steps.hash.outputs.value }}
        restore-keys: |
          ${{ runner.os }}-julia-${{ steps.julia-version.outputs.resolved }}-
    - name: Install Julia packages
      if: ${{ steps.cache-julia.outputs.cache-hit != 'true' }}
      shell: julia --color=yes --project=@. {0}
      env:
        JULIA_DEBUG: loading
      run: |
        using Pkg, Dates
        Pkg.instantiate()
        Pkg.precompile()
        if ENV["RUNNER_ENVIRONMENT"] == "github-hosted"
            Pkg.gc(;collect_delay=Day(0))
        end
    - name: List notebooks as a JSON array
      id: set-matrix
      run: echo "matrix=$(python -c 'import glob, json; print(json.dumps(glob.glob("**/*.ipynb", root_dir="docs", recursive=True) + glob.glob("**/*.jl", root_dir="docs", recursive=True)))')" >> "$GITHUB_OUTPUT"

  execute:
    needs: setup
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        notebook: ${{ fromJSON(needs.setup.outputs.matrix) }}
    runs-on: ubuntu-latest
    env:
      NB: docs/${{ matrix.notebook }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache notebook
        uses: actions/cache@v4
        id: nb-cache
        with:
          path: ${{ env.NBCACHE }}
          key: notebook-${{ needs.setup.outputs.hash }}-${{ hashFiles(env.NB) }}
      - name: Setup Python
        uses: actions/setup-python@v6
        if: ${{ steps.nb-cache.outputs.cache-hit != 'true' }}
        id: setup-python
        with:
          python-version: '3.13'
      - name: Install the latest version of uv
        if: ${{ steps.nb-cache.outputs.cache-hit != 'true' }}
        uses: astral-sh/setup-uv@v7
      - name: Install Python dependencies
        if: ${{ steps.nb-cache.outputs.cache-hit != 'true' }}
        run: uv pip install --system -r requirements.txt
      - name: Setup Julia
        uses: julia-actions/setup-julia@v2
        if: ${{ steps.nb-cache.outputs.cache-hit != 'true' }}
        with:
          version: ${{ needs.setup.outputs.ver }}
          arch: ${{ runner.arch }}
          show-versioninfo: 'true'
      - name: Restore Julia packages
        uses: actions/cache/restore@v4
        if: ${{ steps.nb-cache.outputs.cache-hit != 'true' }}
        with:
          path: ~/.julia
          key: ${{ runner.os }}-julia-${{ needs.setup.outputs.ver }}-${{ needs.setup.outputs.hash }}
      - name: Execute notebook
        if: ${{ steps.nb-cache.outputs.cache-hit != 'true' }}
        run: julia --project=@. .github/ci.jl
      - name: Convert artifact Name
        id: art
        run: echo "name=$(echo ${{ env.NB }} | sed 's/\//-/g')" >> "$GITHUB_OUTPUT"
      - name: Upload Notebook
        uses: actions/upload-artifact@v5
        with:
          name: notebook-${{ steps.art.outputs.name }}-${{ needs.setup.outputs.hash }}-${{ hashFiles(env.NB) }}
          path: ${{ env.NBCACHE }}
          include-hidden-files: true
          retention-days: 1

  render:
    needs: execute
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Download notebooks
        uses: actions/download-artifact@v6
        with:
          path: ${{ env.NBCACHE }}/
          pattern: notebook-*
          merge-multiple: true
      - name: Copy back built notebooks
        run: cp --verbose -rf ${{ env.NBCACHE }}/docs/* docs/
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install Jupyter Book (via myst)
        run: npm install -g jupyter-book
      - name: Build website
        run: jupyter-book build --html
      - name: Upload pages artifact
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-pages-artifact@v4
        with:
          path: './_build/html'

  # CI conclusion for GitHub status check
  # Adaped from https://brunoscheufler.com/blog/2022-04-09-the-required-github-status-check-that-wasnt
  CI:
    needs: render
    if: always()
    runs-on: ubuntu-slim
    steps:
      - run: |
          if [[ ${{ needs.render.result }} == "success" ]]; then
            echo "Tests passed"
            exit 0
          else
            echo "Tests failed"
            exit 1
          fi

  # Deployment job
  deploy:
    name: Deploy to GitHub pages and Notebook branch
    needs: render
    if: ${{ github.ref == 'refs/heads/main' }}
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write    # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
      actions: read   # to download an artifact uploaded by `actions/upload-pages-artifact`
      contents: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Download notebooks
        uses: actions/download-artifact@v6
        with:
          path: ${{ env.NBCACHE }}/
          pattern: notebook-*
          merge-multiple: true
      - name: Copy back built notebooks
        run: |
          cp --verbose -rf ${{ env.NBCACHE }}/docs/* docs/
          rm -rf ${{ env.NBCACHE }}
      - name: Setup Python
        uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version: '3.13'
      - name: Install nbconvert
        run: pip install nbconvert
      - name: Find notebooks
        run: find docs/ -type f -name '*.ipynb' | parallel jupyter nbconvert --clear-output --inplace {}
      - name: Deploy notebooks
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: .
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: ipynb
          commit_message: ${{ github.event.head_commit.message }}
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
